@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  width: 100%;
}

/* apaga o 'x' */
.gm-ui-hover-effect { 
  display: none !important; 
}

/* estilização infowindow */
.gm-style .gm-style-iw {
  background: #ddeaff !important;
  padding: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.8) !important;
}

.gm-style .gm-style-iw-tc {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.8)) !important;
}

/* setinha infowindow */
.gm-style .gm-style-iw-t::after {
  display: none !important;
}
.gm-style .gm-style-iw-t::before {
  display: none !important;
}

/* Borda InfoWindow */
.gm-style .gm-style-iw-c {
  overflow: hidden !important;
  border-radius: 1rem !important;
  border: 2px solid #171717 !important;
}